<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Academic Service</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">BIBM 2016 reviewer(co-review with Dr. Chi Zhang)</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company"></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">BCM Genomics reviewer(co-review with Dr. Chi Zhang)</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company"></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
