<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Awards and grants</h2>
<div class="item">
    <h4 class="degree">First-class People’s Scholarship</h4>
    <div class="time">2014</div>
    <div class="meta">Nanjing University</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">First-class People’s Scholarship</h4>
    <div class="time">2015</div>
    <div class="meta">Nanjing University</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Outstanding graduate with honor</h4>
    <div class="time">2016</div>
    <div class="meta">Nanjing University</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Finicial Support for excellent researcher</h4>
    <div class="time">2016.9</div>
    <div class="meta">CSBL lab, University of Georgia</div>
</div><!--//item-->

</section><!--//section-->
