<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Awards and grants</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">First-class People’s Scholarship</h3>
                            <div class="time">2014</div>
                            <div class="meta">Nanjing University</div>
                        </div><!--//upper-row-->
                        <div class="company"></div>
                    </div><!--//meta-->
                    <div class="details">

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">First-class People’s Scholarship</h3>
                            <div class="time">2015</div>
                            <div class="meta">Nanjing University</div>
                        </div><!--//upper-row-->
                        <div class="company"></div>
                    </div><!--//meta-->
                    <div class="details">

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Outstanding graduate with honor</h3>
                            <div class="time">2016</div>
                            <div class="meta">Nanjing University</div>
                        </div><!--//upper-row-->
                        <div class="company"></div>
                    </div><!--//meta-->
                    <div class="details">

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Finicial Support for excellent researcher</h3>
                            <div class="time">2016.9-2017.7</div>
                            <div class="meta">CSBL lab, University of Georgia</div>
                        </div><!--//upper-row-->
                        <div class="company"></div>
                    </div><!--//meta-->
                    <div class="details">

                    </div><!--//details-->
                </div><!--//item-->

</section><!--//section-->
