<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Education</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Bachelor's degree in Lifescience</h3>
                            <div class="time">2012 - 2016</div>
                            <div class="meta">Nanjing University</div>
                            <div class="meta">China’s Top-Notch Undergraduate Training Program(selected from more than 100 students)</div>
                            <div class="meta">Rank: 2/23</div>
                        </div><!--//upper-row-->
                        <div class="company"></div>
                    </div><!--//meta-->
                    <div class="details">

                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
