<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Manuscript in preparation</h2>
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">tRNA evolution</a></span> - <span class="project-tagline">	<B>Yue Wu</B> and Zhu-Qing Shao. Distribution of tRNA in Archaea and analysis of corresponding evolution causes. (Under Revision)</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#">Subcellular pH estimation</a></span> - <span class="project-tagline">A computational method for estimating subcellular pH by transcriptoome and enzyme data (under preperation)</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">TBD</a></span> -
                    <span class="project-tagline">TBD</span>
                </div><!--//item-->
            </section><!--//section-->
