<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Objective</h2>
<div class="summary">
    <p>I want to find a PhD position in department of bioinformatics and computational biology. During my gradute time, I will conduct research on cancer bioinformatics, cancer evolution, RNA-seq, and chromatin structure,  and also enhance my ability in statistics and algorithm. After graduation, I will go on my research as a faculty, in fields related to cancer, bioinformatics, and evolution. You can find my (<a href="https://github.com/mikeaalv/online-cv/blob/gh-pages/assets/images/CV_YueWu_forPhD.pdf">CV</a>) here.</p>
</div><!--//summary-->
</section><!--//section-->
