<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Ongoing Projects</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Pathway analysis between cell line and cancer tissue</h3>
                            <div class="time">2017.2 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://csbl.bmb.uga.edu">CSBL lab</a>, University of Georgia, Advisor: <a href="http://csbl.bmb.uga.edu/~xyn/">Prof. Ying Xu</a> </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Analyzing function level of pathway between cell line, tumor, and normal tissue by enrichment, differential expression analysis, and Paradigm.</p>
                        <p>Exploring on batch removing for data from different project. Replicating results in different technique such as, microarray, RNA sequencing, and sequencing after dissection.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Computational method for subcellular pH estimation</h3>
                            <div class="time">2016.8 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://csbl.bmb.uga.edu">CSBL lab</a>, University of Georgia, Advisor: <a href="http://csbl.bmb.uga.edu/~xyn/">Prof. Ying Xu</a> and <a href="http://csbl.bmb.uga.edu/~zhangchi/">Prof. Chi Zhang</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Estimating the optimum working pH by expression data and enzyme optimum pH from BRENDA. Testing this method in different cell lines, different condition, and different subcellular compartments.</p>
                        <p>Using metabolic pathway methods and expression data to estimate pH variation.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Roles of microenvironment in metastasis</h3>
                            <div class="time">2016.7 - present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://csbl.bmb.uga.edu">CSBL lab</a>, University of Georgia, Advisor: <a href="http://csbl.bmb.uga.edu/~xyn/">Prof. Ying Xu</a> and <a href="http://csbl.bmb.uga.edu/~zhangchi/">Prof. Chi Zhang</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Using expression data to find links between tissue environment and metastasis tendency. Exploring its relationship with cardiovascular system and lymphatic system.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Arrangement and analysis of TCGA data</h3>
                            <div class="time">2016.7 - present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://csbl.bmb.uga.edu">CSBL lab</a>, University of Georgia, Advisor: <a href="http://csbl.bmb.uga.edu/~xyn/">Prof. Ying Xu</a> and <a href="http://csbl.bmb.uga.edu/~zhangchi/">Prof. Chi Zhang</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>A method for downloading and arranging TCGA data (<a href="https://github.com/mikeaalv/TCGA_download">TCGA_download</a>) in the new TCGA Portal. Analysis of TCGA data especially RNA-seq data.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
