<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Research interest</h2>
<div class="summary">
    <p>My main enthusiasms are application of bioinformatic method in genomics and inteperation of corresponding biology, including cancer bioinformatcs, cancer evolution, chromatin structure, and expression anslysis. </p>
    <li>Roles of microenvironment stress in tumor initiation, metastasis tendency, and cancer evolution</li>
    <li>Analysis and interpretation of RNA-seq data, incluidng estimation of subcompartment expression and physiological parameter, such as pH</li>
    <li>Mathematical and computational modeling of metabolism in cytosol, inlcuidng glycolysis, transportation, and iron metabolism.</li>
    <li>Bioinformatic method design and improvement for omics data including RNA-Seq, Hi-C, and sRNA-seq</li>
    <li>Interpretation of diversity in transcriptome, including isoform, editing, and errors, and analysis of fitness effect. </li>
    <li>Evolution of Archaea and tRNA</li>
</div><!--//summary-->
</section><!--//section-->
