<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Working experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Student internship</h3>
                            <div class="time">2016.8 - 2017.7</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://csbl.bmb.uga.edu">CSBL lab</a>, University of Georgia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Carrying out independent bioinformatic project in both method and biological interpretation. Arrange of necessary data, especially TCGA data.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research assistant</h3>
                            <div class="time">2013.2 - 2016.7</div>
                        </div><!--//upper-row-->
                        <div class="company">Chen lab, Nanjing University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Carrying out research including both bioinformatic analysis and molecular experiments.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research assistant</h3>
                            <div class="time">2013.10 - 2014.10</div>
                        </div><!--//upper-row-->
                        <div class="company">Zhao group, Nanjing University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Carrying out computational modeling and molecular experiment. </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research assistant</h3>
                            <div class="time">2015.6</div>
                        </div><!--//upper-row-->
                        <div class="company">cesar lab, University of Melbourne</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Carrying out genetic experiment on Drosophila.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Volunteer</h3>
                            <div class="time">2012.7 - 2012.8</div>
                        </div><!--//upper-row-->
                        <div class="company">Xinger Guardian program, Nanjing University and Nanjing Mingxin Children’s intelligence training Center</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Taking care of children with autism.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
